nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 50px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    padding: 13px 30px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    /* width: 1036px; */
    /* height: 518px; */
    /* flex-shrink: 0; */

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pic {
    width: 450px;
}

.banner-greeting {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner-title {
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
}

.banner-pragrap {
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 130px;
}

main {
    width: 1140px;
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.skill-container {
    display: flex;
    padding: 50px;

}

.skill {
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 0 30px;
}

#what-i-do-description {
    padding: 30px 150px;
}

main section {
    margin-top: 130px;
}

.skill img {
    padding-bottom: 5px;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-description {
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.resume-item-institute {
    margin-top: 0;
    margin-bottom: 20px;
}

.resume-item-institute {
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.resume-item-title {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resume-column-title {
    padding: 30px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

footer {
    display: flex;
    background: #FFF8F3;
    gap: 100px;
    padding: 130px 200px;
    margin-top: 100px;
}
.socail-links a{
    margin-right: 25px;
}

.footer-column {
    width: 50%;
}

.contact input[type="text"], .contact input[type="Email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}